<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= dashboardJson.title %></title>
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/png" href="images/favicon.png"/>

    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" type="text/css" media="screen" />
    <!-- <link rel="stylesheet" href="third-party/rickshaw/1.5/rickshaw.min.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="bower_components/gridster/dist/jquery.gridster.min.css" type="text/css" media="screen" />

    <!-- <link rel="stylesheet" href="helpers.css" type="text/css" media="screen" /> -->
    <% (dashboardJson.stylesheets || []).forEach(function (stylesheet) { %>
        <link rel="stylesheet" href="<%= stylesheet %>" type="text/css" media="screen" />
    <% }) %>

    <link rel="stylesheet" href="app.css" type="text/css" media="screen" />
</head>
<body>
    <script>
        var atlas = {config: <%- JSON.stringify(dashboardJson) %>};
    </script>

    <div id="main">
        <div id="widgets" class="gridster">
            <ul>
                <% dashboardJson.layout.widgets.forEach(function (widget) { %>
                    <li data-row="<%= widget.row %>"
                        data-col="<%= widget.col %>"
                        data-sizex="<%= widget.width %>"
                        data-sizey="<%= widget.height %>"
                        data-widget-component="<%= widget.component %>"
                        data-widget-id="<%= widget.id %>"
                        class="widget <%= widget.widget %>"
                        title="<%= widget.title %>">
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/gridster/dist/jquery.gridster.min.js"></script>

    <!-- <script src="third-party/ducksboard/jquery.gridster-0.5.6.min.js"></script>
    <script src="third-party/d3/d3.v2.js"></script>
    <script src="third-party/rickshaw/1.5/rickshaw.min.js"></script> -->
    <script src="bower_components/spinjs/spin.js"></script>
    <script src="bower_components/spinjs/jquery.spin.js"></script>

    <script src="socket.io/socket.io.js"></script>

    <% (dashboardJson.scripts || []).forEach(function (script) { %>
        <script src="<%= script %>"></script>
    <% }) %>

    <!-- <script src="javascripts/console-helper.js"></script> -->
    <script src="app.js"></script>
    <script src="app.sockets.js"></script>
    <script src="<%=dashboardName%>/js"></script>
</body>
</html>
